.container
  .pull-right{align: 'center'}
    %label Drag and drop to make bookmark
    %a.btn.btn-warning{href: "javascript:void((function(d){var e=d.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','#{HOST_URL}/assets/screamout/screamout.js');e.setAttribute('id','screamoutjs');d.body.appendChild(e)})(document));", title: "Add to Bookmarks"} Screamout!!

  .row
    .span8
      = link_to t('.new', :default => t("helpers.links.new")), new_content_path, :class => 'btn btn-primary'
      = simple_form_for @con, :html => { :class => 'form-search' } do |f|
        %br
        .control-group
          = f.input :tags ,:type=> 'search', label: false, input_html: {:class => 'input-medium search-query input-xxlarge'}
           

  
  %div
    .row#content_list
     
#myModal.modal.fade
  .modal-dialog
    .modal-content
      .modal-body

#screamout

%script#template{:type => "x-tmpl-mustache"}
  .span3.fjs-ele
    %br
    .thumbnail
      %img{src: "{{photo_url}}", class: 'custom-image-rendering'}
      {{#valid_user}}
      .bookmark-controls
        %a.btn.btn-primary.edit-control{:id => "{{id}}", href: "/screamout/contents/{{id}}/details", "data-remote" => true}
          %span.icon-edit
        %a.btn.btn-default{href:"/screamout/contents/{{id}}",data:{method:"delete" ,confirm:"Are you sure?" }}
          %span.icon.icon-trash
      {{/valid_user}}
      %a{target:"_blank" ,href:"{{url}}" }
        .bookmark-info
          .h5.truncate_text
            {{title}}
          %br
          {{#tags_array}}
          %span.label.label-default.font-10 {{.}}
          {{/tags_array}}
          .h5
            %br
            {{name}}
            %br
            {{#user_photo_url}}
            %img{src: "{{user_photo_url}}", class: 'custom-image-rendering img-polaroid'}
            {{/user_photo_url}}

/
  Bootstrap core JavaScript
/ Placed at the end of the document so the pages load faster
:javascript
  HOST_URL = "#{HOST_URL}";
  parent.window.postMessage("removetheiframe", "*");
  conc = #{@contents.to_json}  
  current_user = "#{try(:current_user).try(:id).try(:to_s)}";
  current_user_role = "#{try(:current_user).try(:role)}";
  tags_hash = #{@tags_hash.to_json}
  $(".search-query").select2({data: #{@tags_hash.to_json}, multiple: true, placeholder: 'select tags to search'})
  $(document).on('ready page:load', function(){
    loadTags();
    window.content_filter = filterInit();
  })

